URxvt.background:	#1F1D19
URxvt.foreground:	#DEDEDE
URxvt.transparent: true URxvt.shading:10
URxvt*font: xft:SauceCodePro Nerd Font Mono:Semibold:size=11,xft:WenQuanYi Micro Hei Mono Light: size=11,xft:Font Awesome 5 Free:size=11
URxvt*boldFont:xft:SauceCodePro Nerd Font Mono:Semibold:size=11,xft:WenQuanYi Micro Hei Mono Light: size=11,xft:Font Awesome 5 Free:size=11
URxvt.scrollBar:	false
URxvt.saveLines:	65535
URxvt.perl-ext-common: default,url-select,clipboard
!URxvt.perl-ext-common: keyboard-select,url-select,clipboard
!URxvt.clipboard.autocopy:true
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
